<div class="container">
  <div class="row">
    <div class="col-xs-6 ">
      <img style="width:80%" src="https://images.unsplash.com/photo-1587920149371-ac728dd20da4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTJ8fGZ1bm55fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60">
      <h3>Company infomation</h3>
    </div>
    <div class="col-xs-6">
      <img style="width:80%" src="https://images.unsplash.com/photo-1546430783-fe4b9c159e52?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTA1fHxmdW5ueXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60">
      <h3>Career</h3>
    </div>
  </div>
<div>